name: Docker Build & Push

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/mon-projet-php:latest ./php/
        docker push ${{ secrets.DOCKER_USERNAME }}/mon-projet-php:latest

